{{>layout/header}}
<h1>게시글 전체 삭제 </h1>
<h1>모두 삭제하시겠습니까 ?</h1>
<div class="col-md-12">

    <button type="button" class="btn btn-danger" id="btn-deleteAll">Yes</button>
    <a href="/" role="button" class="btn btn-secondary">No</a>

    </div>
{{>layout/footer}}